extends header

block content
	section.site_width.padding_big.row
		section.col9
			h2.text.uppercase.margin_bottom_big.color.c_sparkle_dark Recent posts
			div#posts
				for post in posts
					article(id='' + post._id + '', class='padding_small margin_bottom_big border_top')
						header
							h3(data-title= post.titleId, class='text color c_turquoise_dark normal') 
								a(href= config.url.blog.post + '/' + post.titleId) #{post.title}
							div.text.color.c_sparkle
								small #{post.postDate} by 
									strong #{post.username} #{post.extra} 
								small in 
									strong 
										span(data-category= post.category)
											a(href= config.url.blog.category + '/' + post.category) #{post.category}
						div(data-content='postContent', class='margin_bottom_small')
							| !{post.content}
						div.text.color.c_sparkle
							small
								| Tagged as:
								each tag in post.tags
									span(data-tags= post.tag, class='text bold') 
										a(href= config.url.blog.tag + '/' + tag) #{tag}
									span.text.bold.separator ,
		include sidebar
	include footer